:root {
  --col-bg: #000005f7;
  --col-surface: #24283b;
  --col-surface2: #414868;
  --col-surface3: #565f89;
  --col-p-200: #7dcfff;
  --col-p-500: #7aa2f7;
  --col-p-700: #bb9af7;
  --col-s-200: #b4f9f8;
  --col-s-500: #73daca;
  --col-s-700: #9ece6a;
  --col-on-surface: #c0caf5;
  --col-on-primary: #13131b;
  --col-on-secondary: #1a1b26;
  --col-success: #2aa39a;
  --col-danger: #ec4561;
  --col-warning: #f8b425;
  --col-info: #38a5f8;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin-top: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: var(--col-bg);
}
body::-webkit-scrollbar {
  display: none;
}
.aboutPage {
  width: 100%;
  height: 100vh;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.content p {
  text-align: center;
  font-size: 1.5rem;
}
.heroFont {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.15);
  /* background-color: #000000cc; */
}
.contactPage {
  background-size: cover;
  background-position: center;
  height: 100dvh;
}
.portfolioPage {
  background-size: cover;
  background-position: center;
  height: 100dvh;
}
.portfolioPage h1,
.contactPage h1 {
  color: rgba(255, 255, 255, 0.8);
  max-width: 20rem;
}
.resumePage {
  background-size: cover;
  background-position: center;
  height: 100dvh;
}
.navbar .container a img {
  max-height: 3rem;
}
.navbar h3 {
  color: rgba(255, 255, 255, 0.55);
  transition: color 140ms ease-in-out;
}
.navbar h3:hover {
  color: rgba(255, 255, 255, 0.7);
}
.glass {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.8rem;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.17);
}
.glass-2 {
  -webkit-backdrop-filter: blur(14px) saturate(119%);
  backdrop-filter: blur(14px) saturate(160%);
  background-color: rgba(255, 255, 255, 0.18);
  border-radius: 0.8rem;
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
}
.glass-text {
  color: rgba(255, 255, 255, 0.65);
}
.force-v-center {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.max-width-960 {
  max-width: 960px;
}
input,
textarea {
  border-radius: 0.25rem;
  -webkit-backdrop-filter: blur(14px) saturate(119%);
  backdrop-filter: blur(14px) saturate(160%);
  background-color: rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
}
input:focus,
textarea:focus {
  border-radius: 0.25rem;
  -webkit-backdrop-filter: blur(14px) saturate(119%);
  backdrop-filter: blur(14px) saturate(160%);
  background-color: rgba(255, 255, 255, 0.452);
  border: 1px solid rgba(230, 235, 241, 0.459);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
}
:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
textarea:focus-visible {
  outline-offset: 0px;
}
label {
  color: rgba(255, 255, 255, 0.85);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  text-align: center;
}
.pdf-icon {
  width: 1.25rem;
  fill: #ffffff69;
}
.pdf-icon:hover,
.pdf-icon:active,
.pdf-icon:focus {
  width: 1.3rem;
  fill: #ffffff93;
}
.footer-svg {
  width: 2.4rem;
  fill: #ffffff69;
  margin: 0 0.5rem;
  transition: width 150ms ease-in-out, fill 280ms ease-in-out;
}
.footer-svg:hover,
.footer-svg:active,
.footer-svg:focus {
  width: 2.5rem;
  fill: #ffffff93;
}
.select-none {
  -webkit-user-select: none;
  user-select: none;
}
.project-img {
  max-width: 360px;
  min-width: 250px;
}
.image-wrapper {
  max-height: 200px;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: relative;
}
.overlay-text {
  position: absolute;
  z-index: 900;
}
.overlay-text a {
  color: transparent;
}
.image-wrapper:hover .overlay-text a {
  color: rgba(255, 255, 255, 0.7);
  transition: color 150ms ease-in-out;
}
.image-wrapper:hover .overlay-text a:hover {
  color: rgba(255, 255, 255, 0.95);
  transition: color 150ms ease-in-out;
}
.image-wrapper:hover img {
  -webkit-filter: invert(25%) blur(4px) brightness(0.75);
  filter: invert(25%) blur(4px) brightness(0.75);
  transition: filter 150ms ease-in-out;
}
.project-svg {
  position: relative;
  right: 0;
  width: 2rem;
  fill: transparent;
  margin: 0 0.75rem;
  transition: width 150ms ease-in-out, fill 150ms ease-in-out;
}
.image-wrapper:hover .project-svg,
.image-wrapper:hover .project-desc {
  fill: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.8);
}
.image-wrapper:hover .project-svg:hover {
  fill: rgba(255, 255, 255, 0.95);
}
.project-desc {
  color: transparent;
  transition: color 150ms ease-in-out;
}
.align-content-start {
  align-content: flex-start;
}

.navbar {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px) saturate(130%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.17);
  z-index: 10000;
  width: 100%;
  padding: 0.25rem 0.5rem;
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body {
  background-color: var(--col-bg);
  /* font-family: var(--ff); */
  color: var(--col-on-surface);
}
.navbar .container {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.navbar .container img {
  max-height: 1.5rem;
}
@media (max-width: 576px) {
  .navbar .container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .navbar .container img {
    max-height: 1.5rem;
  }
}

.navbar-header {
  font-size: 1.5rem;
}

.side-nav {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  background-color: var(--col-surface);
  border-right: var(--line-3) solid var(--col-surface2);
  border-bottom: var(--line-3) solid var(--col-surface2);
  border-bottom-right-radius: 0.5rem;
}
.side-nav ul {
  padding-left: 0;
  list-style: none;
  margin-top: 3rem;
}
.side-nav ul li {
  display: list-item;
  list-style: none;
  border-bottom: var(--line-3) solid var(--col-surface2);
  padding: 0.5rem 0 0.25rem 1rem;
}
.side-nav ul li:last-child {
  border-bottom: var(--line-3) solid transparent;
}
.side-nav ul li:hover {
  background-color: var(--col-surface2);
}

@media (min-width: 1400px) {
  .side-nav {
    border-left: var(--line-3) solid var(--col-surface2);
    border-bottom-left-radius: 0.5rem;
  }
}
@media (max-width: 767.98px) {
  .side-nav {
    visibility: hidden;
    max-width: 0%;
  }
}
::-webkit-scrollbar {
  scrollbar-width: 0px;
}

.btn {
  display: inline-block;
  padding: 0.3rem 0.75rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: var(--col-on-primary);
  background-color: transparent;
  transition: color 140ms ease-in-out, background-color 140ms ease-in-out, border-color 140ms ease-in-out, box-shadow 140ms ease-in-out;
  transition-duration: 140ms, 140ms, 140ms, 140ms;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-property: color, background-color, border-color, box-shadow;
}
.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--col-p-500);
  color: var(--col-on-primary);
}
.btn-primary:hover,
.btn-primary :active,
.btn-primary :focus {
  border-color: var(--col-p-500);
  box-shadow: 0 0 0 0.125rem var(--col-p-500);
}
.btn-primary:active:focus {
  box-shadow: 0 0 0 0 var(--col-p-500);
}

.btn-outline-primary {
  background-color: transparent;
  border: 2px solid var(--col-p-500);
  color: var(--col-on-surface);
}
.btn-outline-primary:hover,
.btn-outline-primary :active,
.btn-outline-primary :focus {
  box-shadow: 0 0 0 0.125rem var(--col-p-500);
}
.btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0 var(--col-p-500);
}

.btn-secondary {
  background-color: var(--col-s-500);
  color: var(--col-on-primary);
}
.btn-secondary:hover,
.btn-secondary :active,
.btn-secondary :focus {
  border-color: var(--col-s-500);
  box-shadow: 0 0 0 0.125rem var(--col-s-500);
}
.btn-secondary:active:focus {
  box-shadow: 0 0 0 0 var(--col-s-500);
}

.btn-outline-secondary {
  background-color: transparent;
  border: 2px solid var(--col-s-500);
  color: var(--col-on-surface);
}
.btn-outline-secondary:hover,
.btn-outline-secondary :active,
.btn-outline-secondary :focus {
  box-shadow: 0 0 0 0.125rem var(--col-s-500);
}
.btn-outline-secondary:active:focus {
  box-shadow: 0 0 0 0 var(--col-s-500);
}

.btn-success {
  background-color: var(--col-success);
  color: var(--col-on-primary);
}
.btn-success:hover,
.btn-success :active,
.btn-success :focus {
  border-color: var(--col-success);
  box-shadow: 0 0 0 0.125rem var(--col-success);
}
.btn-success:active:focus {
  box-shadow: 0 0 0 0 var(--col-success);
}

.btn-outline-success {
  background-color: transparent;
  border: 2px solid var(--col-success);
  color: var(--col-on-surface);
}
.btn-outline-success:hover,
.btn-outline-success :active,
.btn-outline-success :focus {
  box-shadow: 0 0 0 0.125rem var(--col-success);
}
.btn-outline-success:active:focus {
  box-shadow: 0 0 0 0 var(--col-success);
}

.btn-danger {
  background-color: var(--col-danger);
  color: var(--col-on-primary);
}
.btn-danger:hover,
.btn-danger :active,
.btn-danger :focus {
  border-color: var(--col-danger);
  box-shadow: 0 0 0 0.125rem var(--col-danger);
}
.btn-danger:active:focus {
  box-shadow: 0 0 0 0 var(--col-danger);
}

.btn-outline-danger {
  background-color: transparent;
  border: 2px solid var(--col-danger);
  color: var(--col-on-surface);
}
.btn-outline-danger:hover,
.btn-outline-danger :active,
.btn-outline-danger :focus {
  box-shadow: 0 0 0 0.125rem var(--col-danger);
}
.btn-outline-danger:active:focus {
  box-shadow: 0 0 0 0 var(--col-danger);
}

.btn-warning {
  background-color: var(--col-warning);
  color: var(--col-on-primary);
}
.btn-warning:hover,
.btn-warning :active,
.btn-warning :focus {
  border-color: var(--col-warning);
  box-shadow: 0 0 0 0.125rem var(--col-warning);
}
.btn-warning:active:focus {
  box-shadow: 0 0 0 0 var(--col-warning);
}

.btn-outline-warning {
  background-color: transparent;
  border: 2px solid var(--col-warning);
  color: var(--col-on-surface);
}
.btn-outline-warning:hover,
.btn-outline-warning :active,
.btn-outline-warning :focus {
  box-shadow: 0 0 0 0.125rem var(--col-warning);
}
.btn-outline-warning:active:focus {
  box-shadow: 0 0 0 0 var(--col-warning);
}

.btn-info {
  background-color: var(--col-info);
  color: var(--col-on-primary);
}
.btn-info:hover,
.btn-info :active,
.btn-info :focus {
  border-color: var(--col-info);
  box-shadow: 0 0 0 0.125rem var(--col-info);
}
.btn-info:active:focus {
  box-shadow: 0 0 0 0 var(--col-info);
}

.btn-outline-info {
  background-color: transparent;
  border: 2px solid var(--col-info);
  color: var(--col-on-surface);
}
.btn-outline-info:hover,
.btn-outline-info :active,
.btn-outline-info :focus {
  box-shadow: 0 0 0 0.125rem var(--col-info);
}
.btn-outline-info:active:focus {
  box-shadow: 0 0 0 0 var(--col-info);
}
.container {
  display: flex;
  margin: 0 auto;
}
.container .row {
  display: flex;
}

.container,
.container-fluid {
  width: 100%;
}

@media (max-width: 575.98px) {
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .container-sm {
    max-width: 540px;
    width: 100%;
  }
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container-sm,
  .container-md {
    max-width: 720px;
    width: 100%;
  }
  .container-lg,
  .container-xl,
  .container-xxl {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
    width: 100%;
  }
  .container-xl,
  .container-xxl {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
    width: 100%;
  }
  .container-xxl {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 1400px) {
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    width: 100%;
    max-width: 1320px;
  }
}
.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 1rem;
}

.gap-4 {
  gap: 1.5rem;
}

.gap-5 {
  gap: 3rem;
}

.m-0 {
  margin: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mt-0 {
  margin-top: 0;
}

.me-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ms-0 {
  margin-left: 0;
}

.p-0 {
  padding: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.pt-0 {
  padding-top: 0;
}

.pe-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.ps-0 {
  padding-left: 0;
}

.m-1 {
  margin: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.me-1 {
  margin-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ms-1 {
  margin-left: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pe-1 {
  padding-right: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.ps-1 {
  padding-left: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.me-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ms-2 {
  margin-left: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pe-2 {
  padding-right: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.ps-2 {
  padding-left: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.me-3 {
  margin-right: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.ms-3 {
  margin-left: 1rem;
}

.p-3 {
  padding: 1rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pe-3 {
  padding-right: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.ps-3 {
  padding-left: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.me-4 {
  margin-right: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.ms-4 {
  margin-left: 1.5rem;
}

.p-4 {
  padding: 1.5rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pe-4 {
  padding-right: 1.5rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.ps-4 {
  padding-left: 1.5rem;
}

.m-5 {
  margin: 3rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mt-5 {
  margin-top: 3rem;
}

.me-5 {
  margin-right: 3rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.ms-5 {
  margin-left: 3rem;
}

.p-5 {
  padding: 3rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pe-5 {
  padding-right: 3rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.ps-5 {
  padding-left: 3rem;
}

.m-auto {
  margin: auto;
}
.py-6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media screen and (min-width: 576px) {
  .col-sm-auto {
    flex-grow: 1;
    flex-basis: 0;
  }
  .col-sm-1 {
    flex: calc(100% * 1 / 12 - 0.5%);
  }
  .col-sm-2 {
    flex: calc(100% * 2 / 12 - 0.5%);
  }
  .col-sm-3 {
    flex: calc(100% * 3 / 12 - 0.5%);
  }
  .col-sm-4 {
    flex: calc(100% * 4 / 12 - 0.5%);
  }
  .col-sm-5 {
    flex: calc(100% * 5 / 12 - 0.5%);
  }
  .col-sm-6 {
    flex: calc(100% * 6 / 12 - 0.5%);
  }
  .col-sm-7 {
    flex: calc(100% * 7 / 12 - 0.5%);
  }
  .col-sm-8 {
    flex: calc(100% * 8 / 12 - 0.5%);
  }
  .col-sm-9 {
    flex: calc(100% * 9 / 12 - 0.5%);
  }
  .col-sm-10 {
    flex: calc(100% * 10 / 12 - 0.5%);
  }
  .col-sm-11 {
    flex: calc(100% * 11 / 12 - 0.5%);
  }
  .col-sm-12 {
    flex: calc(100% * 12 / 12 - 0.5%);
  }
  .justify-space-between-sm {
    justify-content: space-between;
  }
  .justify-space-around-sm {
    justify-content: space-around;
  }
  .justify-flex-start-sm {
    justify-content: flex-start;
  }
  .justify-flex-end-sm {
    justify-content: flex-end;
  }
  .justify-center-sm {
    justify-content: center;
  }
  .align-stretch-sm {
    align-items: stretch;
  }
  .align-end-sm {
    align-items: flex-end;
  }
  .align-center-sm {
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }
  .col-md-1 {
    flex: calc(100% * 1 / 12 - 0.5%);
  }
  .col-md-2 {
    flex: calc(100% * 2 / 12 - 0.5%);
  }
  .col-md-3 {
    flex: calc(100% * 3 / 12 - 0.5%);
  }
  .col-md-4 {
    flex: calc(100% * 4 / 12 - 0.5%);
  }
  .col-md-5 {
    flex: calc(100% * 5 / 12 - 0.5%);
  }
  .col-md-6 {
    flex: calc(100% * 6 / 12 - 0.5%);
  }
  .col-md-7 {
    flex: calc(100% * 7 / 12 - 0.5%);
  }
  .col-md-8 {
    flex: calc(100% * 8 / 12 - 0.5%);
  }
  .col-md-9 {
    flex: calc(100% * 9 / 12 - 0.5%);
  }
  .col-md-10 {
    flex: calc(100% * 10 / 12 - 0.5%);
  }
  .col-md-11 {
    flex: calc(100% * 11 / 12 - 0.5%);
  }
  .col-md-12 {
    flex: calc(100% * 12 / 12 - 0.5%);
  }
  .justify-space-between-md {
    justify-content: space-between;
  }
  .justify-space-around-md {
    justify-content: space-around;
  }
  .justify-flex-start-md {
    justify-content: flex-start;
  }
  .justify-flex-end-md {
    justify-content: flex-end;
  }
  .justify-center-md {
    justify-content: center;
  }
  .align-stretch-md {
    align-items: stretch;
  }
  .align-end-md {
    align-items: flex-end;
  }
  .align-center-md {
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-auto {
    flex-grow: 1;
    flex-basis: 0;
  }
  .col-lg-1 {
    flex: calc(100% * 1 / 12 - 0.5%);
  }
  .col-lg-2 {
    flex: calc(100% * 2 / 12 - 0.5%);
  }
  .col-lg-3 {
    flex: calc(100% * 3 / 12 - 0.5%);
  }
  .col-lg-4 {
    flex: calc(100% * 4 / 12 - 0.5%);
  }
  .col-lg-5 {
    flex: calc(100% * 5 / 12 - 0.5%);
  }
  .col-lg-6 {
    flex: calc(100% * 6 / 12 - 0.5%);
  }
  .col-lg-7 {
    flex: calc(100% * 7 / 12 - 0.5%);
  }
  .col-lg-8 {
    flex: calc(100% * 8 / 12 - 0.5%);
  }
  .col-lg-9 {
    flex: calc(100% * 9 / 12 - 0.5%);
  }
  .col-lg-10 {
    flex: calc(100% * 10 / 12 - 0.5%);
  }
  .col-lg-11 {
    flex: calc(100% * 11 / 12 - 0.5%);
  }
  .col-lg-12 {
    flex: calc(100% * 12 / 12 - 0.5%);
  }
  .justify-space-between-lg {
    justify-content: space-between;
  }
  .justify-space-around-lg {
    justify-content: space-around;
  }
  .justify-flex-start-lg {
    justify-content: flex-start;
  }
  .justify-flex-end-lg {
    justify-content: flex-end;
  }
  .justify-center-lg {
    justify-content: center;
  }
  .align-stretch-lg {
    align-items: stretch;
  }
  .align-end-lg {
    align-items: flex-end;
  }
  .align-center-lg {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-auto {
    flex-grow: 1;
    flex-basis: 0;
  }
  .col-xl-1 {
    flex: calc(100% * 1 / 12 - 0.5%);
  }
  .col-xl-2 {
    flex: calc(100% * 2 / 12 - 0.5%);
  }
  .col-xl-3 {
    flex: calc(100% * 3 / 12 - 0.5%);
  }
  .col-xl-4 {
    flex: calc(100% * 4 / 12 - 0.5%);
  }
  .col-xl-5 {
    flex: calc(100% * 5 / 12 - 0.5%);
  }
  .col-xl-6 {
    flex: calc(100% * 6 / 12 - 0.5%);
  }
  .col-xl-7 {
    flex: calc(100% * 7 / 12 - 0.5%);
  }
  .col-xl-8 {
    flex: calc(100% * 8 / 12 - 0.5%);
  }
  .col-xl-9 {
    flex: calc(100% * 9 / 12 - 0.5%);
  }
  .col-xl-10 {
    flex: calc(100% * 10 / 12 - 0.5%);
  }
  .col-xl-11 {
    flex: calc(100% * 11 / 12 - 0.5%);
  }
  .col-xl-12 {
    flex: calc(100% * 12 / 12 - 0.5%);
  }
  .justify-space-between-xl {
    justify-content: space-between;
  }
  .justify-space-around-xl {
    justify-content: space-around;
  }
  .justify-flex-start-xl {
    justify-content: flex-start;
  }
  .justify-flex-end-xl {
    justify-content: flex-end;
  }
  .justify-center-xl {
    justify-content: center;
  }
  .align-stretch-xl {
    align-items: stretch;
  }
  .align-end-xl {
    align-items: flex-end;
  }
  .align-center-xl {
    align-items: center;
  }
}
.col-1 {
  flex: calc(100% * 1 / 12 - 0.5%);
}

.col-2 {
  flex: calc(100% * 2 / 12 - 0.5%);
}

.col-3 {
  flex: calc(100% * 3 / 12 - 0.5%);
}

.col-4 {
  flex: calc(100% * 4 / 12 - 0.5%);
}

.col-5 {
  flex: calc(100% * 5 / 12 - 0.5%);
}

.col-6 {
  flex: calc(100% * 6 / 12 - 0.5%);
}

.col-7 {
  flex: calc(100% * 7 / 12 - 0.5%);
}

.col-8 {
  flex: calc(100% * 8 / 12 - 0.5%);
}

.col-9 {
  flex: calc(100% * 9 / 12 - 0.5%);
}

.col-10 {
  flex: calc(100% * 10 / 12 - 0.5%);
}

.col-11 {
  flex: calc(100% * 11 / 12 - 0.5%);
}

.col-12 {
  flex: calc(100% * 12 / 12 - 0.5%);
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.br-0 {
  border-radius: 0rem;
}

.br-1 {
  border-radius: 0.125rem;
}

.br-2 {
  border-radius: 0.25rem;
}

.br-3 {
  border-radius: 0.5rem;
}

.br-4 {
  border-radius: 1rem;
}

.br-circle {
  border-radius: 50%;
}

.align-content-center {
  align-content: center;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

.align-content-space-evenly {
  align-content: space-evenly;
}

.align-content-stretch {
  align-content: stretch;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}

.align-self-start {
  align-self: start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: end;
}

.align-self-stretch {
  align-self: stretch;
}

.align-self-baseline {
  align-self: baseline;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-stretch {
  justify-items: stretch;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.card {
  background-color: var(--col-surface);
  border: var(--line-3) solid var(--col-surface2);
  border-radius: 0.3rem;
}

.card-fill {
  background-color: var(--col-surface2);
  border: var(--line-3) solid var(--col-surface3);
  border-radius: 0.3rem;
}

.card-fill-pre {
  background-color: var(--col-surface2);
  border: var(--line-3) solid var(--col-surface3);
  border-radius: 0.5rem;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

p {
  font-size: 1em;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.fw-black {
  font-weight: 900;
}

a {
  text-decoration: none;
}
/* a:hover {
  color: var(--col-p-200);
} */
